<!--Table-->
<ngx-datatable (window:resize)="onResize($event)" #table class="material striped margin-top-xs table-size expandable"
  [rows]="mapListService.tableData" [columns]="VALIDATION_CONFIG.LIST_COLUMNS_FRONTEND" [columnMode]="'force'"
  [headerHeight]="50" [footerHeight]="35" [selected]="mapListService.selectedRow" [selectionType]="'multiClick'" [count]="mapListService.tableData.length"
  [limit]="15" [rowClass]="getRowClass" (select)="mapListService.onRowSelect($event)" (activate)="onActivate($event, modal)">

  <ngx-datatable-row-detail rowHeight="100">
     </ngx-datatable-row-detail>


  <!-- DATA COLOMNS -->
  <ngx-datatable-column [checkboxable]="true" [maxWidth]="10"></ngx-datatable-column>

  <ngx-datatable-column *ngFor="let col of VALIDATION_CONFIG.LIST_COLUMNS_FRONTEND" name="{{col.name}}" prop="{{col.prop}}"
    maxWidth="{{col.max_width}}">
    <ng-template *ngIf="col.prop === 'id_nomenclature_valid_status'" let-row="row" ngx-datatable-cell-template>
      <div class="statusContent"> <span class="validationCircle" [ngStyle]="{'background': VALIDATION_CONFIG.STATUS_INFO[row.id_nomenclature_valid_status].color}">{{row.validation_auto}}</span>
        <div [ngStyle]="{'background': VALIDATION_CONFIG.STATUS_INFO[row.id_nomenclature_valid_status].color}" class="statusName">
          <span>{{statusNames[row.id_nomenclature_valid_status]}}</span>
        </div>
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column maxWidth="50">
    <ng-template let-column="column" ngx-datatable-header-template>
      <span>Détails</span>
    </ng-template>
     <ng-template let-row="row" ngx-datatable-cell-template>
        <button type="button" style="width: 20px; height: 20px; font-size:14px;padding:0;" (click)="action()" class="btn btn-info fa fa-info-circle" title="details">
        </button>
     </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-footer>
     <ng-template
       ngx-datatable-footer-template
       let-rowCount="rowCount"
       let-pageSize="pageSize"
       let-selectedCount="selectedCount",
       let-curPage="curPage"
       let-offset="offset">
       <button type="button" (click)="this.selectAll()" class="btn btn-primary btn-xs"> Tout sélectionner</button>
       <span> ' ' </span>
       <button type="button" (click)="this.deselectAll()" class="btn btn-primary btn-xs"> Tout désélectionner</button>

       <datatable-pager
         [pagerLeftArrowIcon]="'datatable-icon-left'"
         [pagerRightArrowIcon]="'datatable-icon-right'"
         [pagerPreviousIcon]="'datatable-icon-prev'"
         [pagerNextIcon]="'datatable-icon-skip'"
         [page]="curPage"
         [size]="pageSize"
         [count]="rowCount"
         [hidden]="!((rowCount / pageSize) > 0)"
         (change)="table.onFooterPage($event)">
       </datatable-pager>

     </ng-template>

   </ngx-datatable-footer>

</ngx-datatable>



<pnx-validation-popup [nbTotalObservation]="nbTotalObservation" [observations]="selectedObs" [status_keys]="statusKeys" [status_names]="statusNames" (valStatus)="onStatusChange($event)"></pnx-validation-popup>


<!--

<div class='my-legend'>
<div class='legend-title'>Légende</div>
<div class='legend-scale'>
  <ul class='legend-labels'>
    <li><span style='background:#8DD3C7;'></span>One</li>
    <li><span style='background:#FFFFB3;'></span>Two</li>
    <li><span style='background:#BEBADA;'></span>Three</li>
    <li><span style='background:#FB8072;'></span>Four</li>
    <li><span style='background:#80B1D3;'></span>etc</li>
  </ul>
</div>
<div class='legend-source'>Source: <a href="#link to source">Name of source</a></div>
</div>

<style type='text/css'>
  .my-legend .legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
    }
  .my-legend .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
    }
  .my-legend .legend-scale ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
    }
  .my-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
    }
  .my-legend .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
    }
  .my-legend a {
    color: #777;
    }
</style>
-->
<!--
<i class="material-icons">
alternate_email
</i>
<span class="fa-stack fa-lg">
  <i class="fa fa-circle-thin fa-stack-2x"></i>
  <i class="material-icons"> alternate_email</i>
</span>
-->
