<!--Table-->


<ngx-datatable (window:resize)="onResize($event)" #table class="material striped margin-top-xs table-size expandable"
  [rows]="mapListService.tableData" [columns]="VALIDATION_CONFIG.LIST_COLUMNS_FRONTEND" [columnMode]="'force'"
  [headerHeight]="50" [footerHeight]="35" [selected]="mapListService.selectedRow" [selectionType]="'multiClick'" [count]="mapListService.tableData.length"
  [limit]="rowNumber" [rowClass]="getRowClass" (select)="mapListService.onRowSelect($event)" (activate)="onActivate($event, modal)">


  <ngx-datatable-row-detail rowHeight="100">
     </ngx-datatable-row-detail>


  <!-- DATA COLOMNS -->
  <ngx-datatable-column [checkboxable]="true" [maxWidth]="10"></ngx-datatable-column>

  <ngx-datatable-column *ngFor="let col of VALIDATION_CONFIG.LIST_COLUMNS_FRONTEND" name="{{col.name}}" prop="{{col.prop}}"
    [maxWidth]="auto" [minWidth]="20">
    <ng-template *ngIf="col.prop === 'id_nomenclature_valid_status'" let-row="row" ngx-datatable-cell-template>
      <div class="statusContent"> <span class="validationCircle" [ngStyle]="{'background': VALIDATION_CONFIG.STATUS_COLORS[0][row.id_nomenclature_valid_status]}">{{row.validation_auto}}</span>
        <!-- <span class="statusName">{{row.id_nomenclature_valid_status}}</span> -->
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column maxWidth="100">
    <ng-template let-column="column" ngx-datatable-header-template>
      <span>Détails</span>
    </ng-template>
     <ng-template let-row="row" ngx-datatable-cell-template>
        <button type="button" style="width: 20px; height: 20px; font-size:14px;padding:0;" (click)="action()" class="btn btn-info fa fa-info-circle" title="details">
        </button>
     </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-footer>
     <ng-template
       ngx-datatable-footer-template
       let-rowCount="rowCount"
       let-pageSize="pageSize"
       let-selectedCount="selectedCount",
       let-curPage="curPage"
       let-offset="offset">
       <button type="button" (click)="this.selectAll()" class="btn btn-primary btn-xs"> Tout sélectionner</button>
       <span> ' ' </span>
       <button type="button" (click)="this.deselectAll()" class="btn btn-primary btn-xs"> Tout désélectionner</button>

       <datatable-pager
         [pagerLeftArrowIcon]="'datatable-icon-left'"
         [pagerRightArrowIcon]="'datatable-icon-right'"
         [pagerPreviousIcon]="'datatable-icon-prev'"
         [pagerNextIcon]="'datatable-icon-skip'"
         [page]="curPage"
         [size]="pageSize"
         [count]="rowCount"
         [hidden]="!((rowCount / pageSize) > 0)"
         (change)="table.onFooterPage($event)">
       </datatable-pager>
     </ng-template>

   </ngx-datatable-footer>

</ngx-datatable>

<pnx-validation-popup [nbTotalObservation]="nbTotalObservation" [observations]="selectedObs" (valStatus)="onStatusChange($event)"></pnx-validation-popup>

  <!--
  <ngx-datatable-column [maxWidth]="5">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <button class="btn btn-outline-shadow btn-no-padding btn-ghost" (click)="openInfoModal(row);">
        <i #iElement matTooltip="{{row[mapListService.idName]}}" class="fa fa-info-circle" aria-hidden="true "></i>
      </button>
    </ng-template>
  </ngx-datatable-column>






<!--
<ng-template #modalInfoObs let-c="close " let-d="dismiss">
  <pnx-synthese-modal-info-obs></pnx-synthese-modal-info-obs>
</ng-template>
-->
