

    <!-- Page Content  -->
    <div class="row row-sm page-content">
      <nav #navBar id="sidebar" class="collapse show" class="col-sm-12 col-md-2 padding-sm">
        <pnx-validation-search (searchClicked)="loadAndStoreData($event)"></pnx-validation-search>
      </nav>
      <div class="col-sm-12 col-md-5 padding-sm">
          <pnx-validation-synthese-list [inputSyntheseData]="_mapListService.tableData" [statusNames]="statusNames" [statusKeys]="statusKeys"></pnx-validation-synthese-list>

          <!-- select only observations with awaiting validation status -->
          <div id="awaitingObs" [formGroup]="_fs.searchForm">
          <input (change)="onSubmitForm()"  value="id_nomenclature_valid_status" formControlName="id_nomenclature_valid_status" type="checkbox" checked/>
          <label> Observations en attente de validation </label>
          </div>

      </div>
      <div class="col-sm-12 col-md-5 padding-sm">
          <pnx-validation-synthese-carte [inputSyntheseData]="_mapListService.geojsonData"></pnx-validation-synthese-carte>
      </div>

    </div>
