
label {
  text-align:left;
  color:#607D8B;
}

.btn {
  border-color: #607D8B;
}

label:hover {
  text-align:left;
  color:#607D8B;
}

#statusChange {
  background-color: #EAEAEA;
}

.material-icons {
  font-size: 18px; 
}
