<!-- Boutton pour accéder modal validation -->
<p></p>
<button type="button" id="validatorButton" class="btn btn-success box-shadow" [disabled]="!isAccess()" (click)="openVerticallyCentered(content)">Attribuer un statut de validation</button>

<ng-template #content let-c="close" let-d="dismiss">

<!-- Modal Validation Popup-->

      <!-- Modal content-->
      <form [formGroup]="statusForm" class="modal-content">

        <div class="modal-header" style="justify-content: center" >
            <h4 class="modal-title">Choix du statut de validation</h4>
        </div>

        <div class="modal-body" id="bodyModal" style="padding-top:30px;">

          <div> Nombre d'observations sélectionnées : {{this.observations.length}} </div>
          <br>

          <span *ngFor="let id of status_keys" id="validButtons">
          <!-- Formulaire pour le choix des standards et des formats de téléchargement des fichiers -->
            <div *ngIf="VALIDATION_CONFIG.STATUS_INFO[id].cat !== 'assessable'"> </div>
            <div *ngIf="VALIDATION_CONFIG.STATUS_INFO[id].cat === 'notassessable'" style="padding-top:30px;"> </div>

            <label style="text-align:left;" [ngStyle]="{'background-color': VALIDATION_CONFIG.STATUS_INFO[id].color}" class="btn btn-primary radio-inline">
              <input type="radio" formControlName="statut" value="{{id}}">
              {{statusNames[id]}}</label>
          </span>

          <div class="md-form mb-0" style="padding-top:30px;">
            <span> Commentaire : </span>
            <textarea type="text" rows="1" class="form-control md-textarea" formControlName="comment"> </textarea>
          </div>

          <br>

          <pnx-validation-definitions></pnx-validation-definitions>

          <br>
        </div>

        <!-- Bouton de fermeture de la modal pop-up ou envoi -->
        <div class="modal-footer" id="choicePopup">
          <button type="submit" class="btn btn-danger" data-dismiss="modal" (click)="closeModal()">Fermer</button>
          <input id="widthButton" (click)="onSubmit(statusForm.value)" data-toggle="modal" #content value="Enregistrer" type="button" [disabled]="!this.statusForm.valid" class="btn btn-success" data-dismiss="modal" #required>
        </div>

      </form>
</ng-template>
