<!-- Boutton pour accéder modal validation -->
<p></p>
<button type="button" id="validatorButton" class="btn btn-success box-shadow" [disabled]="!isAccess()" (click)="openVerticallyCentered(content)">Attribuer un statut de validation</button>

<ng-template #content let-c="close" let-d="dismiss">

<!-- Modal Validation Popup-->

      <!-- Modal content-->
      <form [formGroup]="statusForm" class="modal-content">

        <div class="modal-header" style="justify-content: center" >
            <h4 class="modal-title">Choix du statut de validation</h4>
        </div>

        <div class="modal-body" id="bodyModal" style="padding-top:30px;">

          <div> Nombre d'observations sélectionnées : {{this.observations.length}} </div>
          <br>

          <div id="validButtons">
          <!-- Formulaire pour le choix des standards et des formats de téléchargement des fichiers -->
          <label style="background-color:#28a745;" class="btn btn-primary radio-inline" for="Certain">
            <input type="radio" formControlName="statut" value="318" id="Certain">
            Certain - Très probable</label>

          <label style="background-color:#9ACD32;" class="btn btn-primary radio-inline" for="Probable">
            <input type="radio" formControlName="statut" value="319" id="Probable">
            Probable</label>

          <label style="background-color:#FFA500;" class="btn btn-primary radio-inline" for="Douteux">
            <input type="radio" formControlName="statut" value="320" id="Douteux">
            Douteux</label>

          <label style="background-color:#FF0000;" class="btn btn-primary radio-inline" for="Invalide">
            <input type="radio" formControlName="statut" value="321" id="Invalide">
            Invalide</label>

          </div>

          <br>

            <div style="padding-top:30px;">

            <label style="background-color:#8e8e8e;width: 30%;" class="btn btn-primary radio-inline" for="NR">
              <input type="radio" formControlName="statut" value="322" id="NR">
              Non réalisable</label>
            <br>

            <label style="background-color:#8e8e8e;width: 30%;" class="btn btn-primary radio-inline" for="NE">
              <input type="radio" formControlName="statut" value="466" id="NE">
              En attente de validation</label>

            </div>

          <div class="md-form mb-0" style="padding-top:30px;">
            <span> Commentaire : </span>
            <textarea type="text" rows="1" class="form-control md-textarea" formControlName="comment" id="form1"> </textarea>
          </div>

          <br>

          <pnx-validation-definitions></pnx-validation-definitions>

          <br>
        </div>

        <!-- Bouton de fermeture de la modal pop-up ou envoi -->
        <div class="modal-footer" id="choicePopup">
          <button type="submit" class="btn btn-danger" data-dismiss="modal" (click)="closeModal()">Fermer</button>
          <input id="widthButton" (click)="onSubmit(statusForm.value)" data-toggle="modal" #content value="Enregistrer" type="button" [disabled]="!this.statusForm.valid" class="btn btn-success" data-dismiss="modal" #required>
        </div>

      </form>
</ng-template>
