<div class="ensemble">

  <div class="row row-sm">

    <!-- Formular side -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 padding-sm card">

      <!-- Card Filtre -->
      <div class="row row-sm" id="blockFilter">
        
        <div class="btn btn-outline-secondary btn-block" href="#filterCollapse" data-toggle="collapse" aria-expanded="false" aria-controls="filterCollapse">
            FILTRE
        </div>
        <section id="filterCollapse" class="collapse"> 

          <div id="fieldInLine">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding-md">
              <pnx-taxonomy
                label="{{ 'Taxon.Taxon' | translate }}"
                [parentFormControl]="dynamicFormGroup.controls.cd_nom"
                [idList]="validationConfig.id_taxon_list"
                [charNumber]="3"
                [listLength]="20">
              </pnx-taxonomy>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding-md">
              <pnx-date
                label="{{ 'Releve.MinDate' | translate }} "
                [parentFormControl]="dynamicFormGroup.controls.date_low">
              </pnx-date>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding-md">
              <pnx-date
                label="{{ 'Releve.MaxDate' | translate }} "
                [parentFormControl]="dynamicFormGroup.controls.date_up">
              </pnx-date>
            </div>
            
          </div>

          <div id="fieldInLine">

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding-md">
              <pnx-observers
                [parentFormControl]="dynamicFormGroup.controls.observers"
                [idMenu]="validationConfig.id_observers_list"
                label="{{ 'Releve.Observers' | translate }}">
              </pnx-observers>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding-md">
              <pnx-datasets
                [displayAll]="true"
                label="{{ 'Releve.Dataset' | translate }}"
                [parentFormControl]="dynamicFormGroup.controls.id_dataset"
                appId="14"
              >
              </pnx-datasets>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding-md">
              
            </div> 
            
          </div>

          <div id="fieldInLine">

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding-md">
              <pnx-dynamic-form-generator
                #dynamicForm
                selectLabel="Autres Critères"
                [formGroup]="dynamicFormGroup"
                [formsDefinition]="formsDefinition">
              </pnx-dynamic-form-generator>
            </div>
            
          </div>

        </section> 

      </div>


      <!-- Table Part -->

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="table">
        <ngx-datatable
        #table
        class="material striped margin-top-xs table-size expandable"
        [rows]="mapListService.tableData"
        [columns]="mapListService.displayColumns"
        [loadingIndicator]="mapListService.isLoading"
        [columnMode]="'force'"
        [headerHeight]="35"
        [footerHeight]="40"
        [rowHeight]="40"
        [draggable]="false"
        [selected]="mapListService.selectedRow"
        [externalPaging]="true"
        [scrollbarH]="false"
        [selectionType]="'single'"
        [count]="mapListService.page.totalElements"
        [offset]="mapListService.page.pageNumber"
        [limit]="mapListService.page.size"
        [rowClass]="mapListService.getRowClass"
        (page)="mapListService.setTablePage($event, apiEndPoint)"
        (select)="mapListService.onRowSelect($event)"
        >
          <ngx-datatable-column maxWidth="10">
            <ng-template let-row="row" ngx-datatable-cell-template>
            <button class="btn btn-secondary btn-no-padding btn-ghost" [disabled]="!row.rights.R" (click)="onDetailReleve(row[mapListService.idName])">
                <i [ngClass]="{'disabled' : !row.rights.R}" matTooltip="{{ 'Releve.Info' | translate }} {{row[mapListService.idName]}}" class="fa fa-info-circle" aria-hidden="true" ></i>
            </button>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-footer>
            <ng-template
              let-rowCount="rowCount"
              let-pageSize="pageSize"
              let-selectedCount="selectedCount"
              let-curPage="curPage"
              let-offset="offset"
              ngx-datatable-footer-template
            >
              <app-datatable-pager
                [page]="curPage"
                [visiblePagesCount]="currentVisible"
                [size]="pageSize"
                [count]="rowCount"
                [hidden]="false"
                (change)="table.onFooterPage($event)">
              </app-datatable-pager>
            </ng-template>
          </ngx-datatable-footer>

        </ngx-datatable>

        <!-- Boutton pour accéder modal validation -->
        <button type="submit" id="validatorButton" class="btn btn-success" (click)="openVerticallyCentered(content)">Valider</button>

        <!-- Modal Validation Popup-->
        <ng-template #content let-c="close" let-d="dismiss">
  
          <!-- Modal content-->
          <form [formGroup]="modalForm" class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Validation</h4>
            </div>

            <div class="modal-body">
              <!-- Formulaire pour le choix des standards et des formats de téléchargement des fichiers -->
              <br>
              <ul> Sélectionner: </ul>
              
                <label class="radio-inline" for="Certain"><input type="radio" name="optradio" value="Certain" id="Certain">Certain</label>
                <label class="radio-inline" for="Probable"><input type="radio" name="optradio" value="Probable" id="Probable">Probable</label>
                <label class="radio-inline" for="Douteux"><input type="radio" name="optradio" value="Douteux" id="Douteux">Douteux</label> 
                <label class="radio-inline" for="Invalide"><input type="radio" name="optradio" value="Invalide" id="Invalide">Invalide</label> 
                <label class="radio-inline" for="NR"><input type="radio" name="optradio" value="NR" id="NR">Non réalisable</label> 
                <label class="radio-inline" for="NE"><input type="radio" name="optradio" value="NE" id="NE">Non évalué</label> 
              
              <br><br><br>
              <div>
                <label for="comment">Commentaire:</label>
                <textarea rows="1" id="comment"></textarea>
              </div> 

              <br>
            </div>

            <!-- Bouton de fermeture de la modal pop-up ou lancement du téléchargement -->
            <div class="modal-footer" id="choicePopup">
              <button type="submit" class="btn btn-danger" data-dismiss="modal" (click)="c('Close click')">Fermer</button>
              <button id="widthButton" type="submit" class="btn btn-success">Save</button>
            </div>
          </form>
        </ng-template>

      </div>

    </div>

    <!-- Map side -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 padding-sm card">
      <pnx-map-list
        [idName]="idName"
        height="85vh">
      </pnx-map-list>
    </div>

  </div>

</div>