<div class="ensemble">

  <div class="row row-sm">

    <!-- Formular side -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 padding-sm card">
      
      <!-- Card Filtre TaxRef -->
        
      <div class="row row-sm" id="blockTaxRefFilter">
        
        <div class="btn btn-outline-secondary btn-block" href="#filterTaxrefCollapse" data-toggle="collapse" aria-expanded="false" aria-controls="filterTaxrefCollapse">
            Filtres TaxRef
        </div>
        <section id="filterTaxrefCollapse" class="collapse"> 

          <div id="fieldInLine">

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding-md">
              <pnx-taxonomy
                label="{{ 'Taxon.Taxon' | translate }}"
                [parentFormControl]="dynamicFormGroup.controls.cd_nom"
                [idList]="validationConfig.id_taxon_list"
                [charNumber]="3"
                [listLength]="20">
              </pnx-taxonomy>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding-md">
              <pnx-taxonomy
                label="{{ 'Taxon.Taxon' | translate }}"
                [parentFormControl]="dynamicFormGroup.controls.cd_nom"
                [idList]="validationConfig.id_taxon_list"
                [charNumber]="3"
                [listLength]="20">
              </pnx-taxonomy>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding-md">
              <pnx-taxonomy
                label="{{ 'Taxon.Taxon' | translate }}"
                [parentFormControl]="dynamicFormGroup.controls.cd_nom"
                [idList]="validationConfig.id_taxon_list"
                [charNumber]="3"
                [listLength]="20">
              </pnx-taxonomy>
            </div> 
            
          </div>

          <div id="fieldInLine">

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding-md">
              <pnx-taxonomy
                label="{{ 'Taxon.Taxon' | translate }}"
                [parentFormControl]="dynamicFormGroup.controls.cd_nom"
                [idList]="validationConfig.id_taxon_list"
                [charNumber]="3"
                [listLength]="20">
              </pnx-taxonomy>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding-md">
              <pnx-taxonomy
                label="{{ 'Taxon.Taxon' | translate }}"
                [parentFormControl]="dynamicFormGroup.controls.cd_nom"
                [idList]="validationConfig.id_taxon_list"
                [charNumber]="3"
                [listLength]="20">
              </pnx-taxonomy>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding-md">
              <pnx-taxonomy
                label="{{ 'Taxon.Taxon' | translate }}"
                [parentFormControl]="dynamicFormGroup.controls.cd_nom"
                [idList]="validationConfig.id_taxon_list"
                [charNumber]="3"
                [listLength]="20">
              </pnx-taxonomy>
            </div> 
            
          </div>

        </section> 

      </div>

      <!-- Card Filtre Autres -->
      <div class="row row-sm" id="blockOtherFilter">
        
        <div class="btn btn-outline-secondary btn-block" href="#filterOtherCollapse" data-toggle="collapse" aria-expanded="false" aria-controls="filterOtherCollapse">
            Autres Filtres
        </div>
        <section id="filterOtherCollapse" class="collapse"> 

          <div id="fieldInLine">

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding-md">
              <pnx-taxonomy
                label="{{ 'Taxon.Taxon' | translate }}"
                [parentFormControl]="dynamicFormGroup.controls.cd_nom"
                [idList]="validationConfig.id_taxon_list"
                [charNumber]="3"
                [listLength]="20">
              </pnx-taxonomy>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding-md">
              <pnx-taxonomy
                label="{{ 'Taxon.Taxon' | translate }}"
                [parentFormControl]="dynamicFormGroup.controls.cd_nom"
                [idList]="validationConfig.id_taxon_list"
                [charNumber]="3"
                [listLength]="20">
              </pnx-taxonomy>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding-md">
              <pnx-taxonomy
                label="{{ 'Taxon.Taxon' | translate }}"
                [parentFormControl]="dynamicFormGroup.controls.cd_nom"
                [idList]="validationConfig.id_taxon_list"
                [charNumber]="3"
                [listLength]="20">
              </pnx-taxonomy>
            </div> 
            
          </div>

          <div id="fieldInLine">

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding-md">
              <pnx-taxonomy
                label="{{ 'Taxon.Taxon' | translate }}"
                [parentFormControl]="dynamicFormGroup.controls.cd_nom"
                [idList]="validationConfig.id_taxon_list"
                [charNumber]="3"
                [listLength]="20">
              </pnx-taxonomy>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding-md">
              <pnx-taxonomy
                label="{{ 'Taxon.Taxon' | translate }}"
                [parentFormControl]="dynamicFormGroup.controls.cd_nom"
                [idList]="validationConfig.id_taxon_list"
                [charNumber]="3"
                [listLength]="20">
              </pnx-taxonomy>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding-md">
              <pnx-taxonomy
                label="{{ 'Taxon.Taxon' | translate }}"
                [parentFormControl]="dynamicFormGroup.controls.cd_nom"
                [idList]="validationConfig.id_taxon_list"
                [charNumber]="3"
                [listLength]="20">
              </pnx-taxonomy>
            </div> 
            
          </div>

        </section> 

      </div>


      <!-- Table Part -->

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="table">
        <ngx-datatable
        #table
        class="material striped margin-top-xs table-size expandable"
        [rows]="mapListService.tableData"
        [columns]="mapListService.displayColumns"
        [loadingIndicator]="mapListService.isLoading"
        [columnMode]="'force'"
        [headerHeight]="35"
        [footerHeight]="40"
        [rowHeight]="40"
        [draggable]="false"
        [selected]="mapListService.selectedRow"
        [externalPaging]="true"
        [scrollbarH]="false"
        [selectionType]="'single'"
        [count]="mapListService.page.totalElements"
        [offset]="mapListService.page.pageNumber"
        [limit]="mapListService.page.size"
        [rowClass]="mapListService.getRowClass"
        (page)="mapListService.setTablePage($event, apiEndPoint)"
        (select)="mapListService.onRowSelect($event)"
        >

          <ngx-datatable-footer>
            <ng-template
              let-rowCount="rowCount"
              let-pageSize="pageSize"
              let-selectedCount="selectedCount"
              let-curPage="curPage"
              let-offset="offset"
              ngx-datatable-footer-template
            >
              <app-datatable-pager
                [page]="curPage"
                [visiblePagesCount]="currentVisible"
                [size]="pageSize"
                [count]="rowCount"
                [hidden]="false"
                (change)="table.onFooterPage($event)">
              </app-datatable-pager>
            </ng-template>
          </ngx-datatable-footer>

        </ngx-datatable>
      </div>



    </div>


    <!-- Map side -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 padding-sm card">
      <pnx-map-list
        [idName]="idName"
        height="85vh">
      </pnx-map-list>
    </div>

  </div>

</div>