<div class="ensemble">

  <div class="row row-sm">

    <!-- Formular side -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 padding-sm card">
      
      <!-- Card Filtre TaxRef -->
        
      <div class="row row-sm" id="blockTaxRefFilter">
        
        <div class="btn btn-outline-secondary btn-block" href="#filterTaxrefCollapse" data-toggle="collapse" aria-expanded="false" aria-controls="filterTaxrefCollapse">
            Filtres TaxRef
        </div>
        <section id="filterTaxrefCollapse" class="collapse"> 

          <div id="fieldInLine">

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding-md">
              <pnx-taxonomy
                label="{{ 'Taxon.Taxon' | translate }}"
                [parentFormControl]="dynamicFormGroup.controls.cd_nom"
                [idList]="validationConfig.id_taxon_list"
                [charNumber]="3"
                [listLength]="20">
              </pnx-taxonomy>
            </div>

              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding-md">
                        <div *ngFor="let counting of selectedOccurrence?.cor_counting_occtax; let index = index">
                          <div class="row row-sm">
                              <div *ngIf="validationConfig.form_fields.counting.life_stage">
                                  <pnx-nomenclature
                                    label="{{ 'Counting.LifeStage' | translate }}" 
                                    [parentFormControl]="countingFormArray.controls[index].controls.id_nomenclature_life_stage"
                                    codeNomenclatureType="STADE_VIE"
                                    [disabled]="disabled"> 
                                  </pnx-nomenclature>
                              </div>
                              <div *ngIf="validationConfig.form_fields.counting.sex">
                                  <pnx-nomenclature
                                    label="{{ 'Counting.Sex' | translate }}"
                                    [parentFormControl]="countingFormArray.controls[index].controls.id_nomenclature_sex"
                                    codeNomenclatureType="SEXE"
                                    [disabled]="disabled">
                                  </pnx-nomenclature>
                            </div>
                            <div *ngIf="validationConfig.form_fields.counting.obj_count">
                                  <pnx-nomenclature 
                                    label="{{ 'Counting.CountingObject' | translate }}"
                                    [parentFormControl]="countingFormArray.controls[index].controls.id_nomenclature_obj_count"
                                    codeNomenclatureType="OBJ_DENBR"
                                    [disabled]="disabled" >
                                  </pnx-nomenclature>
                            </div>
                      
                          </div>
                          <div class="form-group row row-sm">
                              <div *ngIf="validationConfig.form_fields.counting.type_count">
                                  <pnx-nomenclature
                                    #typeDenombrement
                                    label="{{ 'Counting.CountingType' | translate }}"
                                    [parentFormControl]="countingFormArray.controls[index].controls.id_nomenclature_type_count"
                                    codeNomenclatureType="TYP_DENBR"
                                    [disabled]="disabled">
                                  </pnx-nomenclature> 
                            </div>
                              <div *ngIf="validationConfig.form_fields.counting.count_min">
                                <div class="form-group">
                                  <small> {{ 'Counting.NumberMin' | translate }} </small>
                                  <input class="form-control form-control-sm" type="number" 
                                  [formControl]="countingFormArray.controls[index].controls.count_min"
                                  [disableControl]="disabled">
                                </div>
                              </div>
                              <div *ngIf="validationConfig.form_fields.counting.count_max">
                                <div class="form-group">
                                    <small> {{ 'Counting.NumberMax' | translate }} </small>
                                  <input class="form-control form-control-sm" type="number" 
                                  [formControl]="countingFormArray.controls[index].controls.count_max"
                                  [disableControl]="disabled">
                                </div>
                              </div>
                          </div>
                          <div class="form-group row row-0">
                              <div *ngIf="validationConfig.form_fields.counting.type_count">
                                  <pnx-nomenclature
                                    #typeDenombrement
                                    label="{{ 'Counting.ValidationStatus' | translate }}"
                                    [parentFormControl]="countingFormArray.controls[index].controls.id_nomenclature_valid_status"
                                    codeNomenclatureType="STATUT_VALID"
                                    [disabled]="disabled">
                                  </pnx-nomenclature> 
                              </div>
                            </div>
                            <hr>
                      </div>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding-md">
              <pnx-taxonomy
                label="{{ 'Taxon.Taxon' | translate }}"
                [parentFormControl]="dynamicFormGroup.controls.cd_nom"
                [idList]="validationConfig.id_taxon_list"
                [charNumber]="3"
                [listLength]="20">
              </pnx-taxonomy>
            </div> 
            
          </div>

          <div id="fieldInLine">

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding-md">
              <pnx-taxonomy
                label="{{ 'Taxon.Taxon' | translate }}"
                [parentFormControl]="dynamicFormGroup.controls.cd_nom"
                [idList]="validationConfig.id_taxon_list"
                [charNumber]="3"
                [listLength]="20">
              </pnx-taxonomy>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding-md">
              <pnx-taxonomy
                label="{{ 'Taxon.Taxon' | translate }}"
                [parentFormControl]="dynamicFormGroup.controls.cd_nom"
                [idList]="validationConfig.id_taxon_list"
                [charNumber]="3"
                [listLength]="20">
              </pnx-taxonomy>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding-md">
              <pnx-taxonomy
                label="{{ 'Taxon.Taxon' | translate }}"
                [parentFormControl]="dynamicFormGroup.controls.cd_nom"
                [idList]="validationConfig.id_taxon_list"
                [charNumber]="3"
                [listLength]="20">
              </pnx-taxonomy>
            </div> 
            
          </div>

        </section> 

      </div>

      <!-- Card Filtre Autres -->
      <div class="row row-sm" id="blockOtherFilter">
        
        <div class="btn btn-outline-secondary btn-block" href="#filterOtherCollapse" data-toggle="collapse" aria-expanded="false" aria-controls="filterOtherCollapse">
            Autres Filtres
        </div>
        <section id="filterOtherCollapse" class="collapse"> 

          <div id="fieldInLine">

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding-md">
              <pnx-date
                label="{{ 'Releve.MinDate' | translate }} "
                [parentFormControl]="dynamicFormGroup.controls.date_low">
              </pnx-date>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding-md">
              <pnx-date
                label="{{ 'Releve.MaxDate' | translate }} "
                [parentFormControl]="dynamicFormGroup.controls.date_up">
              </pnx-date>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding-md">
              <pnx-observers
                [parentFormControl]="dynamicFormGroup.controls.observers"
                [idMenu]="validationConfig.id_observers_list"
                label="{{ 'Releve.Observers' | translate }}">
            </pnx-observers>
            </div> 
            
          </div>

          <div id="fieldInLine">

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding-md">
              <pnx-datasets
                [displayAll]="true"
                label="{{ 'Releve.Dataset' | translate }}"
                [parentFormControl]="dynamicFormGroup.controls.id_dataset"
                appId="14"
              >
              </pnx-datasets>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding-md">
              <pnx-taxonomy
                label="{{ 'Taxon.Taxon' | translate }}"
                [parentFormControl]="dynamicFormGroup.controls.cd_nom"
                [idList]="validationConfig.id_taxon_list"
                [charNumber]="3"
                [listLength]="20">
              </pnx-taxonomy>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding-md">
              <pnx-taxonomy
                label="{{ 'Taxon.Taxon' | translate }}"
                [parentFormControl]="dynamicFormGroup.controls.cd_nom"
                [idList]="validationConfig.id_taxon_list"
                [charNumber]="3"
                [listLength]="20">
              </pnx-taxonomy>
            </div> 
            
          </div>

        </section> 

      </div>


      <!-- Table Part -->

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="table">
        <ngx-datatable
        #table
        class="material striped margin-top-xs table-size expandable"
        [rows]="mapListService.tableData"
        [columns]="mapListService.displayColumns"
        [loadingIndicator]="mapListService.isLoading"
        [columnMode]="'force'"
        [headerHeight]="35"
        [footerHeight]="40"
        [rowHeight]="40"
        [draggable]="false"
        [selected]="mapListService.selectedRow"
        [externalPaging]="true"
        [scrollbarH]="false"
        [selectionType]="'single'"
        [count]="mapListService.page.totalElements"
        [offset]="mapListService.page.pageNumber"
        [limit]="mapListService.page.size"
        [rowClass]="mapListService.getRowClass"
        (page)="mapListService.setTablePage($event, apiEndPoint)"
        (select)="mapListService.onRowSelect($event)"
        >

          <ngx-datatable-footer>
            <ng-template
              let-rowCount="rowCount"
              let-pageSize="pageSize"
              let-selectedCount="selectedCount"
              let-curPage="curPage"
              let-offset="offset"
              ngx-datatable-footer-template
            >
              <app-datatable-pager
                [page]="curPage"
                [visiblePagesCount]="currentVisible"
                [size]="pageSize"
                [count]="rowCount"
                [hidden]="false"
                (change)="table.onFooterPage($event)">
              </app-datatable-pager>
            </ng-template>
          </ngx-datatable-footer>

        </ngx-datatable>

        <!-- Boutton pour accéder modal validation -->
        <button type="submit" id="validatorButton" class="btn btn-success" (click)="openVerticallyCentered(content)">Valider</button>

        <!-- Modal Validation Popup-->
        <ng-template #content let-c="close" let-d="dismiss">
  
          <!-- Modal content-->
          <form [formGroup]="modalForm" class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Validation</h4>
            </div>

            <div class="modal-body">
              <!-- Formulaire pour le choix des standards et des formats de téléchargement des fichiers -->
              <br>
              <ul> Sélectionner: </ul>
              
                <label class="radio-inline" for="Certain"><input type="radio" name="optradio" value="Certain" id="Certain">Certain</label>
                <label class="radio-inline" for="Probable"><input type="radio" name="optradio" value="Probable" id="Probable">Probable</label>
                <label class="radio-inline" for="Douteux"><input type="radio" name="optradio" value="Douteux" id="Douteux">Douteux</label> 
                <label class="radio-inline" for="Invalide"><input type="radio" name="optradio" value="Invalide" id="Invalide">Invalide</label> 
                <label class="radio-inline" for="NR"><input type="radio" name="optradio" value="NR" id="NR">Non réalisable</label> 
                <label class="radio-inline" for="NE"><input type="radio" name="optradio" value="NE" id="NE">Non évalué</label> 
              
              <br><br><br>
              <div>
                <label for="comment">Commentaire:</label>
                <textarea rows="1" id="comment"></textarea>
              </div> 

              <br>
            </div>

            <!-- Bouton de fermeture de la modal pop-up ou lancement du téléchargement -->
            <div class="modal-footer" id="choicePopup">
              <button type="submit" class="btn btn-danger" data-dismiss="modal" (click)="c('Close click')">Fermer</button>
              <button id="widthButton" type="submit" class="btn btn-success">Save</button>
            </div>
          </form>
        </ng-template>

      </div>

    </div>

    <!-- Map side -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 padding-sm card">
      <pnx-map-list
        [idName]="idName"
        height="85vh">
      </pnx-map-list>
    </div>

  </div>

</div>